* {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 25px;
  scroll-snap-type: y mandatory;
}
body {
  margin: 0;
  padding: 0;
}
.artCredits {
  position: sticky;
  z-index: 10;
  color: beige;
  top: 0;
  left: 0;
  padding: 10px;
}
/* first page */
.art {
  width: 100%;
  height: 400%;
  background-repeat: no-repeat;
  background-image: url(../images/background\ test.png);
  background-size: cover;
}
h1 {
  font-family: "Archivo", sans-serif;
  font-size: 85px;
  text-align: center;
  margin: 0;
  color: beige;
  text-shadow:3px 3px 10px rgb(20, 8, 73);
}
.textBlock {
  text-align: center;
  margin-top: 0;
  color: beige;
  letter-spacing: 3px;
  text-shadow:5px 5px 10px rgb(20, 8, 73);
}
.class {
  font-size: 1.2em;
}
.manilaBlock {
  background-image: url(../images/manila\ long\ text\ block.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
#manilaBlockDiv {
  padding-top: 17px;
}
.links {
  margin-top: 20px;
  display: flex;
  text-shadow:3px 3px 10px rgb(20, 8, 73);
}
a, a:visited, a:active, a:focus {
  color: beige;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
}
a:hover {
  color: rgb(255, 194, 124);
}
/* page two */
.manilaBlockTwo {
  background-image: url(../images/manila\ square\ block.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
/* page three */
.section {
  /* scroll-snap-align: start; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.projectBar {
  /* background-color: rgb(252, 196, 196); */
  margin-bottom: 5vh;
  display: flex;
  overflow-x: scroll;
}
.gallery {
  /* background-color: rgb(252, 196, 196); */
  margin-bottom: 5vh;
  display: flex;
  overflow-x: scroll;
  cursor: pointer;
}
.gallery img {
  transition: transform 0.5s;
  cursor: pointer;
}
.gallery img:hover {
  transform: scale(1.1);
}
.popup-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(0, 0, 0, .9);
  z-index: 100;
  cursor: pointer;
  display: none;
}
.popup-container div {
  width: 70vw;
  height: 70vh;
  display: flex;
}
#popup {
  margin-left: auto;
  margin-right: auto;
}
#xButton {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 70px;
  font-weight: bolder;
  color:rgb(255, 194, 124);
  cursor: pointer;
}
.projectBar div a, .projectBar div a:visited {
  margin-top: 20px;
  margin-bottom: 5px;
  color: rgb(20, 8, 73);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
  font-size: 25px;
}
.projectBar div p {
  padding: 4px;
  margin: 0;
  color: rgb(20, 8, 73);
  font-size: 19px;
}
.projectBar div {
  height: 220px;
  text-align: center;
  background-image: url(../images/manila\ square\ project\ block.png);
  background-size: cover;
  min-width: 290px;
  margin: 15px;
  transition: transform 0.5s;
  border-radius: 5px;
}
/* .projectBar div:hover {
  transform: scale(1.1);
} */
#nextArrow1, #nextArrow2 {
  display: inline;
  position: absolute;
  transform: translate(62vw, 100px);
  cursor: pointer;
}
#backArrow1, #backArrow2 {
  display: inline;
  position: absolute;
  transform: translate(-7vw, 100px);
  cursor: pointer;
}
.gallery img {
  padding: 15px;
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#4d1fcd, #ff6fee);
  border-radius: 8px;
}
/* scrollbar hide */
.gallery::-webkit-scrollbar, .projectBar::-webkit-scrollbar {
  display: none;
}